
<div class="cards-bikers-container">
  <div class="cards-bikers">
    <% @bikers.each do |biker| %>
      <div class="card-biker">
        <%= cl_image_tag biker.photo.try(:key), crop: :fill %>
        <div class="card-biker-info">
          <h2><%= biker.pseudo %></h2>
          <p><%= biker.address %></p>
          <div class="card-biker-info-bottom">
            <p><strong><%= biker.price %>€</strong></p>
            <%= link_to 'See more', biker_path(biker) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"
     style="width: 50%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
