<div class="cards-bikers-container">
  <div class="cards-bikers">
    <% @bikers.each do |biker| %>
      <div class="card-biker">
        <%= cl_image_tag biker.photo.try(:key), crop: :fill %>
        <div class="card-biker-info">
          <h2><%= biker.pseudo %></h2>
          <% if biker.reviews.average(:rating).to_f.round(1) != 0 %>
          <p><i class="fas fa-bomb"></i> <%= biker.reviews.average(:rating).to_f.round(1) %></p>
          <% end %>
          <p><%= biker.address %></p>
          <div class="card-biker-info-bottom">
            <p><strong><%= biker.price %>€</strong></p>
            <%= link_to 'See more', biker_path(biker) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"
     style="width: 50%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

<div class="numbar">
  <ul>
    <li><a href="" class="active">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href=""><i class="fas fa-arrow-right"></i></a></li>
  </ul>
</div>
