
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/danpaqzgt/image/upload/v1621346378/bikers/images_6_cguxav.jpg);">
  <div class="container">
    <h1><%= @biker.pseudo %></h1>
  </div>
</div>

<div class="container">

  <div class="cards">
    <div class="card-biker">
      <div class="card-description">
          <p> <%= @biker.description %> </p>
          <p> <%= @biker.date %> </p>
          <p> <%= @biker.price %>€ </p>
          <p> <%= @biker.address %> </p>
      </div>
      
      <div class="card-map">
        <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYWxleGJhZCIsImEiOiJja280OTRtdXgwenAzMnZzNXRyN2w1OHhqIn0.15FTycYgx6V6LbJJM6j9yA'>
      </div>
    </div>

    <div class='card-calendar'>
    </div>

    <div class="form-booking">
      <%= simple_form_for ([@biker, @booking]) do |f| %>
        <p><%= f.input :date, label: 'Date arrivée' %></p>
        <p><%= f.input :date, label: 'Date départ' %></p>
        <p><%= f.submit "Book", class: "btn btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>
